.statistics {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  background-color: var(--primary-bg-color);
  box-shadow: var(--primary-box-shadow);
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  background-color: var(--white-color);
  text-transform: Uppercase;
  box-shadow: var(--img-box-shadow);
}

.statList {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--img-box-shadow);
}

.item {
  display: grid;
  width: 100%;
  color: var(--white-color);
  line-height: 35px;
  background-color: var(--gray-bg-color);
  /* background-color: var(--random-color); */
}

.label {
  text-align: center;
}

.percentage {
  text-align: center;
  font-size: 20px;
}
